<div class="mx-5">
  <div class="cont">
    <div class="searchblock d-block p-5">
      <div class="innercontent ">
        <h1>Find your Tournament</h1>

        <div class="row col-12 mt-4">
          <div class="col-8">
            Date from/to:
          </div>

          <div class="col-4 ">
            Country:
          </div>
        </div>

        <div class="row col-12">
          <div class="input-group input-group-lg col-8">
            <input class="form-control" #drp="bsDaterangepicker" placeholder="Select date for search...." [minDate]="mindate" [maxDate]="maxdate" bsDaterangepicker [(ngModel)]="bsRangeValue">
          </div>
          <div class="dropdown show col-4">
            <select [(ngModel)]="countrySearch" class="btn-lg btn btn-country">
              <option value="" disabled selected>Select a Country</option>
              <option *ngFor="let c of countries" [ngValue]="c">{{c.name}}</option>
            </select>
          </div>
          </div>








        <!-- div class="row col-12 my-4">
          <div class="col-6">
            <ss-multiselect-dropdown class="dropdowncasual" [options]="ageOption" [texts]="ageText" [settings]="ageSetting" [(ngModel)]="optionsModelAge" (ngModelChange)="onChange($event)"></ss-multiselect-dropdown>
          </div>
          <div class="col-6">
            <ss-multiselect-dropdown class="dropdowncasual" [options]="weightOption" [texts]="weightText" [settings]="weightSetting" [(ngModel)]="optionsModelWeight" (ngModelChange)="onChange($event)"></ss-multiselect-dropdown>
          </div>
        </div-->

        <div class="row col-12 my-4">
          <div class="col-3"></div>
          <div class="col-6">
            <button class="btn btn-lg btn-success" [routerLink]="['/searchtourn/tournaments']">Search</button>
          </div>

          <div class="col-3"></div>
        </div>



        Date: {{bsRangeValue}}
        Country: {{countrySearch.name}}
      </div>
    </div>
  </div>
</div>
