<div class="mx-5">
  <div>
    <ul id="light-slider">
      <li class=" d-block" style="height: 30vh; min-height: 220px; position: relative;"[style.backgroundImage]="'url(../../assets/dubai.png)'">
        <div class="texts">
          <h1><span class="flag-icon flag-icon-ae"></span> Dubai</h1>
          <h2>International A Tournamen Dubai</h2>
          <h3>U12, U15, U17, U20</h3>
          <h3>From 11.9-13.9.2017</h3>
        </div>
      </li>
      <li class=" d-block" style="height: 30vh;min-height: 220px; position:relative;" [style.backgroundImage]="'url(../../assets/stockholm.png)'">
        <div class="texts">
          <h1><span class="flag-icon flag-icon-se"></span> Stockholm</h1>
          <h2>International A Tournamen Stockholm</h2>
          <h3>U12, U15, U17, U20</h3>
          <h3>From 11.9-13.9.2017</h3>
        </div>
      </li>
      <li class=" d-block" style="height: 30vh;min-height: 220px; position:relative;" [style.backgroundImage]="'url(../../assets/pula.png)'">
        <div class="texts">
          <h1><span class="flag-icon flag-icon-hr"></span> Pula</h1>
          <h2>International A Tournamen Pula</h2>
          <h3>U12, U15, U17, U20</h3>
          <h3>From 11.9-13.9.2017</h3>
        </div>
      </li>
    </ul>
      <hr class="style14">
  </div>
  <div>
    <h3>Upcoming events.....</h3>
    <div class="row">
      <div class="col col-xl-4 col-lg-6 col-md-12 col-sm-12 col">
        <table class="table table-hover table-sm">
          <thead class="thead-inverse">
          <tr>
            <th>Town</th>
            <th>Tournaments Minimes</th>
            <th>Date</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <span class="flag-icon flag-icon-ae"></span> VAE, Dubai
            </td>
            <td>
              International A Tournamen Dubai
            </td>
            <td>
              11.9-13.9.2017
            </td>
          </tr>
          <tr>
            <td>
              <span class="flag-icon flag-icon-ae"></span> VAE, Dubai
            </td>
            <td>
              International A Tournamen Dubai
            </td>
            <td>
              11.9-13.9.2017
            </td>
          </tr>
          <tr>
            <td>
              <span class="flag-icon flag-icon-ae"></span> VAE, Dubai
            </td>
            <td>
              International A Tournamen Dubai
            </td>
            <td>
              11.9-13.9.2017
            </td>
          </tr>
          <tr>
            <td>
              <span class="flag-icon flag-icon-ae"></span> VAE, Dubai
            </td>
            <td>
              International A Tournamen Dubai
            </td>
            <td>
              11.9-13.9.2017
            </td>
          </tr>
          <tr>
            <td>
              <span class="flag-icon flag-icon-ae"></span> VAE, Dubai
            </td>
            <td>
              International A Tournamen Dubai
            </td>
            <td>
              11.9-13.9.2017
            </td>
          </tr>
          <tr>
            <td>
              <span class="flag-icon flag-icon-ae"></span> VAE, Dubai
            </td>
            <td>
              International A Tournamen Dubai
            </td>
            <td>
              11.9-13.9.2017
            </td>
          </tr>
          <tr>
            <td>
              <span class="flag-icon flag-icon-ae"></span> VAE, Dubai
            </td>
            <td>
              International A Tournamen Dubai
            </td>
            <td>
              11.9-13.9.2017
            </td>
          </tr>
          </tbody>
        </table>

        <!--<nav aria-label="...">
          <ul class="pagination pagination-sm justify-content-end">
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">5</a></li>
            <li class="page-item">
              <a class="page-link" href="#">Next</a>
            </li>
          </ul>
        </nav>-->
      </div>
      <div class="col col-xl-4 col-lg-6 col-md-12 col-sm-12 col">
        <table class="table table-hover table-sm">
          <thead class="thead-inverse">
          <tr>
            <th>Town</th>
            <th>Tournaments Cadets</th>
            <th>Date</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <span class="flag-icon flag-icon-ae"></span> VAE, Dubai
            </td>
            <td>
              International A Tournamen Dubai
            </td>
            <td>
              11.9-13.9.2017
            </td>
          </tr>
          <tr>
            <td>
              <span class="flag-icon flag-icon-ae"></span> VAE, Dubai
            </td>
            <td>
              International A Tournamen Dubai
            </td>
            <td>
              11.9-13.9.2017
            </td>
          </tr>
          <tr>
            <td>
              <span class="flag-icon flag-icon-ae"></span> VAE, Dubai
            </td>
            <td>
              International A Tournamen Dubai
            </td>
            <td>
              11.9-13.9.2017
            </td>
          </tr>
          <tr>
            <td>
              <span class="flag-icon flag-icon-ae"></span> VAE, Dubai
            </td>
            <td>
              International A Tournamen Dubai
            </td>
            <td>
              11.9-13.9.2017
            </td>
          </tr>
          <tr>
            <td>
              <span class="flag-icon flag-icon-ae"></span> VAE, Dubai
            </td>
            <td>
              International A Tournamen Dubai
            </td>
            <td>
              11.9-13.9.2017
            </td>
          </tr>
          <tr>
            <td>
              <span class="flag-icon flag-icon-ae"></span> VAE, Dubai
            </td>
            <td>
              International A Tournamen Dubai
            </td>
            <td>
              11.9-13.9.2017
            </td>
          </tr>
          <tr>
            <td>
              <span class="flag-icon flag-icon-ae"></span> VAE, Dubai
            </td>
            <td>
              International A Tournamen Dubai
            </td>
            <td>
              11.9-13.9.2017
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="d-block d-lg-none d-xl-block col col-xl-4 col-lg-6 col-md-12 col-sm-12 col">
        <table class="table table-hover table-sm">
          <thead class="thead-inverse">
          <tr>
            <th>Town</th>
            <th>Tournaments Juniors</th>
            <th>Date</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <span class="flag-icon flag-icon-ae"></span> VAE, Dubai
            </td>
            <td>
              International A Tournamen Dubai
            </td>
            <td>
              11.9-13.9.2017
            </td>
          </tr>
          <tr>
            <td>
              <span class="flag-icon flag-icon-ae"></span> VAE, Dubai
            </td>
            <td>
              International A Tournamen Dubai
            </td>
            <td>
              11.9-13.9.2017
            </td>
          </tr>
          <tr>
            <td>
              <span class="flag-icon flag-icon-ae"></span> VAE, Dubai
            </td>
            <td>
              International A Tournamen Dubai
            </td>
            <td>
              11.9-13.9.2017
            </td>
          </tr>
          <tr>
            <td>
              <span class="flag-icon flag-icon-ae"></span> VAE, Dubai
            </td>
            <td>
              International A Tournamen Dubai
            </td>
            <td>
              11.9-13.9.2017
            </td>
          </tr>
          <tr>
            <td>
              <span class="flag-icon flag-icon-ae"></span> VAE, Dubai
            </td>
            <td>
              International A Tournamen Dubai
            </td>
            <td>
              11.9-13.9.2017
            </td>
          </tr>
          <tr>
            <td>
              <span class="flag-icon flag-icon-ae"></span> VAE, Dubai
            </td>
            <td>
              International A Tournamen Dubai
            </td>
            <td>
              11.9-13.9.2017
            </td>
          </tr>
          <tr>
            <td>
              <span class="flag-icon flag-icon-ae"></span> VAE, Dubai
            </td>
            <td>
              International A Tournamen Dubai
            </td>
            <td>
              11.9-13.9.2017
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
    <br>
  <div>
    <h3>Upcoming trainingscamps.....</h3>
    <div class="row">
      <div class="col col-xl-4 col-lg-6 col-md-12 col-sm-12 col">
        <table class="table table-hover table-sm">
          <thead class="thead-inverse">
          <tr>
            <th>Town</th>
            <th>Tournaments Minimes</th>
            <th>Date</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <span class="flag-icon flag-icon-ae"></span> VAE, Dubai
            </td>
            <td>
              International A Tournamen Dubai
            </td>
            <td>
              11.9-13.9.2017
            </td>
          </tr>
          <tr>
            <td>
              <span class="flag-icon flag-icon-ae"></span> VAE, Dubai
            </td>
            <td>
              International A Tournamen Dubai
            </td>
            <td>
              11.9-13.9.2017
            </td>
          </tr>
          <tr>
            <td>
              <span class="flag-icon flag-icon-ae"></span> VAE, Dubai
            </td>
            <td>
              International A Tournamen Dubai
            </td>
            <td>
              11.9-13.9.2017
            </td>
          </tr>
          <tr>
            <td>
              <span class="flag-icon flag-icon-ae"></span> VAE, Dubai
            </td>
            <td>
              International A Tournamen Dubai
            </td>
            <td>
              11.9-13.9.2017
            </td>
          </tr>
          <tr>
            <td>
              <span class="flag-icon flag-icon-ae"></span> VAE, Dubai
            </td>
            <td>
              International A Tournamen Dubai
            </td>
            <td>
              11.9-13.9.2017
            </td>
          </tr>
          <tr>
            <td>
              <span class="flag-icon flag-icon-ae"></span> VAE, Dubai
            </td>
            <td>
              International A Tournamen Dubai
            </td>
            <td>
              11.9-13.9.2017
            </td>
          </tr>
          <tr>
            <td>
              <span class="flag-icon flag-icon-ae"></span> VAE, Dubai
            </td>
            <td>
              International A Tournamen Dubai
            </td>
            <td>
              11.9-13.9.2017
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col col-xl-4 col-lg-6 col-md-12 col-sm-12 col">
        <table class="table table-hover table-sm">
          <thead class="thead-inverse">
          <tr>
            <th>Town</th>
            <th>Tournaments Cadets</th>
            <th>Date</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <span class="flag-icon flag-icon-ae"></span> VAE, Dubai
            </td>
            <td>
              International A Tournamen Dubai
            </td>
            <td>
              11.9-13.9.2017
            </td>
          </tr>
          <tr>
            <td>
              <span class="flag-icon flag-icon-ae"></span> VAE, Dubai
            </td>
            <td>
              International A Tournamen Dubai
            </td>
            <td>
              11.9-13.9.2017
            </td>
          </tr>
          <tr>
            <td>
              <span class="flag-icon flag-icon-ae"></span> VAE, Dubai
            </td>
            <td>
              International A Tournamen Dubai
            </td>
            <td>
              11.9-13.9.2017
            </td>
          </tr>
          <tr>
            <td>
              <span class="flag-icon flag-icon-ae"></span> VAE, Dubai
            </td>
            <td>
              International A Tournamen Dubai
            </td>
            <td>
              11.9-13.9.2017
            </td>
          </tr>
          <tr>
            <td>
              <span class="flag-icon flag-icon-ae"></span> VAE, Dubai
            </td>
            <td>
              International A Tournamen Dubai
            </td>
            <td>
              11.9-13.9.2017
            </td>
          </tr>
          <tr>
            <td>
              <span class="flag-icon flag-icon-ae"></span> VAE, Dubai
            </td>
            <td>
              International A Tournamen Dubai
            </td>
            <td>
              11.9-13.9.2017
            </td>
          </tr>
          <tr>
            <td>
              <span class="flag-icon flag-icon-ae"></span> VAE, Dubai
            </td>
            <td>
              International A Tournamen Dubai
            </td>
            <td>
              11.9-13.9.2017
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="d-block d-lg-none d-xl-block col col-xl-4 col-lg-6 col-md-12 col-sm-12 col">
        <table class="table table-hover table-sm">
          <thead class="thead-inverse">
          <tr>
            <th>Town</th>
            <th>Tournaments Juniors</th>
            <th>Date</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <span class="flag-icon flag-icon-ae"></span> VAE, Dubai
            </td>
            <td>
              International A Tournamen Dubai
            </td>
            <td>
              11.9-13.9.2017
            </td>
          </tr>
          <tr>
            <td>
              <span class="flag-icon flag-icon-ae"></span> VAE, Dubai
            </td>
            <td>
              International A Tournamen Dubai
            </td>
            <td>
              11.9-13.9.2017
            </td>
          </tr>
          <tr>
            <td>
              <span class="flag-icon flag-icon-ae"></span> VAE, Dubai
            </td>
            <td>
              International A Tournamen Dubai
            </td>
            <td>
              11.9-13.9.2017
            </td>
          </tr>
          <tr>
            <td>
              <span class="flag-icon flag-icon-ae"></span> VAE, Dubai
            </td>
            <td>
              International A Tournamen Dubai
            </td>
            <td>
              11.9-13.9.2017
            </td>
          </tr>
          <tr>
            <td>
              <span class="flag-icon flag-icon-ae"></span> VAE, Dubai
            </td>
            <td>
              International A Tournamen Dubai
            </td>
            <td>
              11.9-13.9.2017
            </td>
          </tr>
          <tr>
            <td>
              <span class="flag-icon flag-icon-ae"></span> VAE, Dubai
            </td>
            <td>
              International A Tournamen Dubai
            </td>
            <td>
              11.9-13.9.2017
            </td>
          </tr>
          <tr>
            <td>
              <span class="flag-icon flag-icon-ae"></span> VAE, Dubai
            </td>
            <td>
              International A Tournamen Dubai
            </td>
            <td>
              11.9-13.9.2017
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <br>
</div>
