<div class="mx-5">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Veranstalter</th>
        <th>Von Datum</th>
        <th>Bis Datum</th>
        <th>Land</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tourn of tournaments" >

        <td>
          {{tourn.name}}
        </td>
        <td>
          {{tourn.club.name}}
        </td>
        <td>
          {{tourn.startDate | date: 'dd MMM yyyy'}}
       </td>
        <td>
          {{tourn.endDate | date: 'dd MMM yyyy'}}
        </td>
        <td>
          <span class="flag-icon" ngClass={{tourn.countryCode}} style="border: 0.1px solid black;"></span> &nbsp; {{tourn.location.country}}
        </td>
        <td>
          <button class="btn btn-primary"  type="button" >Details</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
