<div class="">
  <agm-map
    [latitude]="lat"
    [longitude]="lng"
    [zoom]="zoom"

    [disableDefaultUI]="true"
    [zoomControl]="true">

    <agm-marker
      *ngFor="let t of tournaments; let i = index"
      [latitude]="t.location.latitude"
      [longitude]="t.location.longitude"
      [label]="">

      <agm-info-window>
        <strong><h6>{{t.name}}</h6><br>{{t.location.street}}, {{t.location.zipCode}} {{t.location.city}}
        <br>
          <a href="http://localhost:4200/searchtourn/tournaments/tournament/{{t.id}}">Details</a>
        </strong>
      </agm-info-window>

    </agm-marker>
  </agm-map>
</div>
