.footer {
  background-color: black;
  bottom: 0;
  height:13vh;
  min-height: 120px;
  color:white;
  text-align: center !important;
  vertical-align: middle !important;
}
.footerelements{
  padding: auto;
}
.click{
  opacity: 0.7;
  cursor: pointer;
  margin-right: 7px;

}
.click:hover{
  opacity: 1.0;
}

