.main-container{
  max-width: 1000px;
  width: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
  padding-top: 2%;
  padding-bottom: 2%;
}
.loadlabel{
  color:black;
  text-align: center;
  margin-top:35vh;
}

th{
  font-weight: bold;
  color:white;
  background-color: black;
  border-bottom-color: white !important;
}
.tournpic{
  height:28vh;
  max-width: 30vh;
}
.contactpic{
  max-width: 5vw;
  height: 10vh;

}
agm-map {
  height: 35vh;
}
