<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #0a3132; ">
  <a class="navbar-brand" href="#" style="color:whitesmoke;">
    <img src="http://lorempixel.com/30/30/sports/" width="30" height="30" class="d-inline-block align-top" alt="">
    JudoEvents
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" >
    <span class="navbar-toggler-icon" style="color:whitesmoke;"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav" >
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#" style="color:whitesmoke">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="color:whitesmoke">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="color:whitesmoke">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="color:whitesmoke">Disabled</a>
      </li>
    </ul>
  </div>
</nav>
